<button><%= link_to 'Back', user_posts_path(@user.id) %></button>
<section>
  <div>
    <div>
      <h3> <%=@post.title%> by <%= @user.name%> </h3>
      <p> Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %> </p>
    </div>
    <h4> <%= @post.text%> </h4>
  </div>

  <% if can? :destroy, @post %>
       <%= button_to 'Delete Post',
             user_post_path,
             method: :delete,
             data: {confirm: 'Are You Sure You Want to Delete This Post'}%>
     <% end %>

  <ul>
    <%= form_with url: "/users/#{@post.user_id}/posts/#{@post.id}/likes" do |f| %>
    <button type="submit">
    likes
    </button>
  <% end %>

  <button>
    <%= link_to new_user_post_comment_path(@user.id, @post.id) do %>
   comments
  </button>
    <% end %>
  </ul>

    <div>
    <% @post.comments.each do |comment| %>
      <p> <%= comment.user.name%>: <%= comment.text%><p>
    <% end %>  
  </div>
</section>
